APP_ENV=local

GATEWAY_ADDR=:8080
LINKSVC_ADDR=:8081
REDIRECTSVC_ADDR=:8082
STATSVC_ADDR=:8083
WORKER_ADDR=:8084

MYSQL_DSN=flashlink:flashlink@tcp(127.0.0.1:3306)/flashlink?charset=utf8mb4&parseTime=True&loc=Local
